{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Document</title>
</head>
   
    <body class="rr">
<h1>User DashBoard</h1>
    <div>
        <div>
            {% for i in gallery_images %}
                <div>
                    <img src="{{ i.feedimage.url }}" alt="Gallery Image" width="300">
                    <span>{{ i.title1 }}</span>
                    <span>{{ i.title2 }}</span>
                    <span>{{ i.title3 }}</span>
                </div>
            {% endfor %}
        </div>
    </div>
    <a href="{% url 'logout' %}"><button>logout</button></a>
   
</body>
</html>