{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>User Dashboard</title>
</head>
<body class="amazon-theme">
    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">
            <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="Logo" class="logo-img"></a>
        </div>
        <div class="nav-links">
            <!-- <a href="{% url 'firstpage' %}">Home</a>
            <a href="{% url 'add' %}">Add Gallery</a> -->
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </nav>
    
    <!-- Main Content -->
    <div class="main-content">
        <h1>User Dashboard</h1>
        <div class="gallery">
            {% for i in gallery_images %}
                <div class="gallery-item">
                    <img src="{{ i.feedimage.url }}" alt="Gallery Image" width="300">
                    <div class="image-info">
                        <span class="image-title">{{ i.title1 }}</span>
                        <span class="image-date">{{ i.title2 }}</span>
                        <span class="image-course">{{ i.title3 }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
