{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    <title>Product Details</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="Logo" class="logo-img"></a>
        </div>
        <div class="nav-links">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'cart' %}">Go to Cart</a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </nav>

    <div class="main-content">
        <h1>Product Details</h1>
        <div class="gallery">
            {% for i in gallery_images %}
            <div class="gallery-item">
                <img src="{{ i.feedimage.url }}" alt="Gallery Image" width="300">
            </div>
            <div class="image-info">
                <p class="image-title">{{ i.title1 }}</p>
                <p class="image-date">{{ i.title2 }}</p>
                <p class="image-course">{{ i.title3 }}</p>
                <a href="{% url 'add_to_cart' i.id %}"><button>Add to Cart</button></a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
