{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Register - Watch Shop</title>
    <link rel="stylesheet" href="{% static 'css/sellerregister.css' %}"> <!-- Link to external CSS -->
</head>
<body>
    <div>
        <h2>Seller Register</h2>
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="username" id="username" placeholder="Username">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" id="password" placeholder="Password">
            <input type="password" name="confpassword" id="confpassword" placeholder="Confirm Password">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
